<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistic</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />

</head>
<body>
<div class="container">
    <!-- common menu -->
    <div id="common-menu">
        <nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto" >
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/campaign}">Campaigns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/partner}">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/user}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/game}">Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/statistic}">Statistic</a>
                        </li>
                        <li class="nav-item">
                            <form th:action="@{/logout}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <button type="submit" class="btn btn-link nav-link">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- end common menu -->
    <div id = "header">
        <h2>Statistic</h2>
    </div>

    <div id="table">
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Metric</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
               <tr>
                   <td>Total vouchers</td>
                   <td th:text="${totalVouchers}"></td>
               </tr>
               <tr>
                   <td>Number used vouchers</td>
                   <td th:text="${numberUsedVouchers}"></td>
               </tr>
               <tr>
                   <td>Number expired vouchers</td>
                   <td th:text="${numberExpiredVouchers}"></td>
               </tr>

               <tr>
                   <td>Total user play game</td>
                   <td th:text="${totalUserPlayGame}"></td>
               </tr>
               <tr>
                   <td>Total user win game</td>
                   <td th:text="${totalUserWinGame}"></td>
               </tr>

            </tbody>
        </table>
    </div>

</div>
</body>
</html>
