.pagination ul {
display: flex;
justify-content: center;
list-style: none;
}

.pagination ul li {
margin: 0 5px;
}

.pagination ul li a {
display: block;
padding: 5px 10px;
border: 1px solid #ccc;
text-decoration: none;
color: #333;
}

.pagination ul li.active a {
background-color: #333;
color: #fff;
}

.container {
margin-top: 80px;
}

.search_component {
    margin-left: 20px;
}

#header {
position: relative;
top: -40px;
}

#common-menu {
position: relative;
top: -80px;
}

